In [112]:
import pandas as pd
import numpy as np

In [113]:
dades = pd.read_excel('Energ√≠a activa - horario_01-01-2023_31-12-2023.xls',skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12,13])

In [114]:
dades.head()

,Date,Hour,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB]
0,2023-01-01 00:00:00,2023-01-01 00:00:00,81,20.113,0.0,3.323,23.436
1,2023-01-01 01:00:00,2023-01-01 01:00:00,82,20.468,0.0,3.321,23.789
2,2023-01-01 02:00:00,2023-01-01 02:00:00,82,19.974,0.0,3.327,23.301
3,2023-01-01 03:00:00,2023-01-01 03:00:00,82,19.864,0.0,3.322,23.186
4,2023-01-01 04:00:00,2023-01-01 04:00:00,82,20.094,0.0,3.327,23.421

In [115]:
dades = dades.drop(columns=['Hour'])
dades['Date'] = dades['Date'] = pd.to_datetime(dades['Date'], format='%Y-%m-%d %H:%M:%S')
dades.head()

,Date,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB]
0,2023-01-01 00:00:00,81,20.113,0.0,3.323,23.436
1,2023-01-01 01:00:00,82,20.468,0.0,3.321,23.789
2,2023-01-01 02:00:00,82,19.974,0.0,3.327,23.301
3,2023-01-01 03:00:00,82,19.864,0.0,3.322,23.186
4,2023-01-01 04:00:00,82,20.094,0.0,3.327,23.421

In [116]:
dades.isnull().sum(0)

Date                                                                   0
Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]     0
CS A elec [kWh] [ETSAB]                                               53
CS B elec [kWh] [ETSAB]                                               53
CS C elec [kWh] [ETSAB]                                               54
Electricitat Total [kWh] [ETSAB]                                      53
dtype: int64

In [117]:
nulls_df = pd.DataFrame({'Date': dades['Date'], 'Null_energy': dades['Electricitat Total [kWh] [ETSAB]'].isnull()})
dates_with_null_energy = nulls_df[nulls_df['Null_energy']]
dates_with_null_energy

                    Date  Null_energy
1683 2023-03-12 03:00:00         True
1684 2023-03-12 04:00:00         True
1685 2023-03-12 05:00:00         True
1686 2023-03-12 06:00:00         True
1687 2023-03-12 07:00:00         True
2019 2023-03-26 04:00:00         True
4041 2023-06-18 10:00:00         True
4042 2023-06-18 11:00:00         True
8484 2023-12-20 12:00:00         True
8485 2023-12-20 13:00:00         True
8486 2023-12-20 14:00:00         True
8487 2023-12-20 15:00:00         True
8488 2023-12-20 16:00:00         True
8489 2023-12-20 17:00:00         True
8490 2023-12-20 18:00:00         True
8491 2023-12-20 19:00:00         True
8492 2023-12-20 20:00:00         True
8493 2023-12-20 21:00:00         True
8494 2023-12-20 22:00:00         True
8495 2023-12-20 23:00:00         True
8496 2023-12-21 00:00:00         True
8497 2023-12-21 01:00:00         True
8498 2023-12-21 02:00:00         True
8499 2023-12-21 03:00:00         True
8500 2023-12-21 04:00:00         True
8501 2023-12-21 05:00:00         True
8502 2023-12-21 06:00:00         True
8503 2023-12-21 07:00:00         True
8504 2023-12-21 08:00:00         True
8505 2023-12-21 09:00:00         True
8506 2023-12-21 10:00:00         True
8507 2023-12-21 11:00:00         True
8508 2023-12-21 12:00:00         True
8509 2023-12-21 13:00:00         True
8510 2023-12-21 14:00:00         True
8511 2023-12-21 15:00:00         True
8512 2023-12-21 16:00:00         True
8513 2023-12-21 17:00:00         True
8514 2023-12-21 18:00:00         True
8515 2023-12-21 19:00:00         True
8516 2023-12-21 20:00:00         True
8517 2023-12-21 21:00:00         True
8518 2023-12-21 22:00:00         True
8519 2023-12-21 23:00:00         True
8520 2023-12-22 00:00:00         True
8521 2023-12-22 01:00:00         True
8522 2023-12-22 02:00:00         True
8523 2023-12-22 03:00:00         True
8524 2023-12-22 04:00:00         True
8525 2023-12-22 05:00:00         True
8526 2023-12-22 06:00:00         True
8527 2023-12-22 07:00:00         True
8528 2023-12-22 08:00:00         True

In [118]:
# mirem qu√® va passar el dia 20 de desembre a les 12 h perq tants valors estiguin malament despr√©s.
outliers = dades[(dades['Date'] > '2023-12-20 08:00:00') & (dades['Date'] < '2023-12-22 13:00:00')]
outliers

,Date,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB]
8481,2023-12-20 09:00:00,560,194.531,57.427,64.800,316.758
8482,2023-12-20 10:00:00,527,187.308,55.677,67.845,310.830
8483,2023-12-20 11:00:00,551,44.851,13.424,16.752,75.027
8484,2023-12-20 12:00:00,518,NaN,NaN,NaN,NaN
8485,2023-12-20 13:00:00,519,NaN,NaN,NaN,NaN
8486,2023-12-20 14:00:00,459,NaN,NaN,NaN,NaN
8487,2023-12-20 15:00:00,465,NaN,NaN,NaN,NaN
8488,2023-12-20 16:00:00,508,NaN,NaN,NaN,NaN
8489,2023-12-20 17:00:00,513,NaN,NaN,NaN,NaN
8490,2023-12-20 18:00:00,491,NaN,NaN,NaN,NaN
8491,2023-12-20 19:00:00,409,NaN,NaN,NaN,NaN
8492,2023-12-20 20:00:00,222,NaN,NaN,NaN,NaN
8493,2023-12-20 21:00:00,161,NaN,NaN,NaN,NaN
8494,2023-12-20 22:00:00,140,NaN,NaN,NaN,NaN
8495,2023-12-20 23:00:00,124,NaN,NaN,NaN,NaN
8496,2023-12-21 00:00:00,122,NaN,NaN,NaN,NaN
8497,2023-12-21 01:00:00,121,NaN,NaN,NaN,NaN
8498,2023-12-21 02:00:00,120,NaN,NaN,NaN,NaN
8499,2023-12-21 03:00:00,121,NaN,NaN,NaN,NaN
8500,2023-12-21 04:00:00,123,NaN,NaN,NaN,NaN
8501,2023-12-21 05:00:00,130,NaN,NaN,NaN,NaN
8502,2023-12-21 06:00:00,231,NaN,NaN,NaN,NaN
8503,2023-12-21 07:00:00,346,NaN,NaN,NaN,NaN
8504,2023-12-21 08:00:00,526,NaN,NaN,NaN,NaN
8505,2023-12-21 09:00:00,538,NaN,NaN,NaN,NaN
8506,2023-12-21 10:00:00,521,NaN,NaN,NaN,NaN
8507,2023-12-21 11:00:00,555,NaN,NaN,NaN,NaN
8508,2023-12-21 12:00:00,532,NaN,NaN,NaN,NaN
8509,2023-12-21 13:00:00,465,NaN,NaN,NaN,NaN
8510,2023-12-21 14:00:00,424,NaN,NaN,NaN,NaN
8511,2023-12-21 15:00:00,456,NaN,NaN,NaN,NaN
8512,2023-12-21 16:00:00,492,NaN,NaN,NaN,NaN
8513,2023-12-21 17:00:00,523,NaN,NaN,NaN,NaN
8514,2023-12-21 18:00:00,496,NaN,NaN,NaN,NaN
8515,2023-12-21 19:00:00,413,NaN,NaN,NaN,NaN
8516,2023-12-21 20:00:00,220,NaN,NaN,NaN,NaN
8517,2023-12-21 21:00:00,152,NaN,NaN,NaN,NaN
8518,2023-12-21 22:00:00,135,NaN,NaN,NaN,NaN
8519,2023-12-21 23:00:00,121,NaN,NaN,NaN,NaN
8520,2023-12-22 00:00:00,120,NaN,NaN,NaN,NaN
8521,2023-12-22 01:00:00,119,NaN,NaN,NaN,NaN
8522,2023-12-22 02:00:00,117,NaN,NaN,NaN,NaN
8523,2023-12-22 03:00:00,119,NaN,NaN,NaN,NaN
8524,2023-12-22 04:00:00,119,NaN,NaN,NaN,NaN
8525,2023-12-22 05:00:00,127,NaN,NaN,NaN,NaN
8526,2023-12-22 06:00:00,224,NaN,NaN,NaN,NaN
8527,2023-12-22 07:00:00,316,NaN,NaN,NaN,NaN
8528,2023-12-22 08:00:00,447,NaN,NaN,NaN,NaN
8529,2023-12-22 09:00:00,456,4597.852,1204.758,1973.733,7776.343
8530,2023-12-22 10:00:00,434,147.868,51.138,61.387,260.393
8531,2023-12-22 11:00:00,417,148.222,50.739,61.434,260.395
8532,2023-12-22 12:00:00,393,134.898,53.518,57.043,245.459

In [119]:
#veiem que hem d'arreglar el 22 a les 9 hores i el 20 a les 11 hores. 
#Els posem a Na i fem interpolaci√≥ perqu√® s'omplin els dies de forma progressiva.
dades.loc[(dades['Date'] == '2023-12-20 11:00:00') | (dades['Date'] == '2023-12-22 09:00:00'), :] = np.nan

In [120]:
dades.shape

(8760, 6)

Veiem que la proporci√≥ de NAs en comparaci√≥ amb el nombre de samples √©s molt petita, per tant podem aplicar fillna sense rebaixar massa la qualitat de les dades.

In [121]:
dades_ffill = dades.fillna(method = 'ffill')

In [122]:
arreglo = dades_ffill[(dades_ffill['Date'] > '2023-12-20 08:00:00') & (dades_ffill['Date'] < '2023-12-22 13:00:00')]
arreglo

,Date,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB]
8481,2023-12-20 09:00:00,560.0,194.531,57.427,64.800,316.758
8482,2023-12-20 10:00:00,527.0,187.308,55.677,67.845,310.830
8483,2023-12-20 10:00:00,527.0,187.308,55.677,67.845,310.830
8484,2023-12-20 12:00:00,518.0,187.308,55.677,67.845,310.830
8485,2023-12-20 13:00:00,519.0,187.308,55.677,67.845,310.830
8486,2023-12-20 14:00:00,459.0,187.308,55.677,67.845,310.830
8487,2023-12-20 15:00:00,465.0,187.308,55.677,67.845,310.830
8488,2023-12-20 16:00:00,508.0,187.308,55.677,67.845,310.830
8489,2023-12-20 17:00:00,513.0,187.308,55.677,67.845,310.830
8490,2023-12-20 18:00:00,491.0,187.308,55.677,67.845,310.830
8491,2023-12-20 19:00:00,409.0,187.308,55.677,67.845,310.830
8492,2023-12-20 20:00:00,222.0,187.308,55.677,67.845,310.830
8493,2023-12-20 21:00:00,161.0,187.308,55.677,67.845,310.830
8494,2023-12-20 22:00:00,140.0,187.308,55.677,67.845,310.830
8495,2023-12-20 23:00:00,124.0,187.308,55.677,67.845,310.830
8496,2023-12-21 00:00:00,122.0,187.308,55.677,67.845,310.830
8497,2023-12-21 01:00:00,121.0,187.308,55.677,67.845,310.830
8498,2023-12-21 02:00:00,120.0,187.308,55.677,67.845,310.830
8499,2023-12-21 03:00:00,121.0,187.308,55.677,67.845,310.830
8500,2023-12-21 04:00:00,123.0,187.308,55.677,67.845,310.830
8501,2023-12-21 05:00:00,130.0,187.308,55.677,67.845,310.830
8502,2023-12-21 06:00:00,231.0,187.308,55.677,67.845,310.830
8503,2023-12-21 07:00:00,346.0,187.308,55.677,67.845,310.830
8504,2023-12-21 08:00:00,526.0,187.308,55.677,67.845,310.830
8505,2023-12-21 09:00:00,538.0,187.308,55.677,67.845,310.830
8506,2023-12-21 10:00:00,521.0,187.308,55.677,67.845,310.830
8507,2023-12-21 11:00:00,555.0,187.308,55.677,67.845,310.830
8508,2023-12-21 12:00:00,532.0,187.308,55.677,67.845,310.830
8509,2023-12-21 13:00:00,465.0,187.308,55.677,67.845,310.830
8510,2023-12-21 14:00:00,424.0,187.308,55.677,67.845,310.830
8511,2023-12-21 15:00:00,456.0,187.308,55.677,67.845,310.830
8512,2023-12-21 16:00:00,492.0,187.308,55.677,67.845,310.830
8513,2023-12-21 17:00:00,523.0,187.308,55.677,67.845,310.830
8514,2023-12-21 18:00:00,496.0,187.308,55.677,67.845,310.830
8515,2023-12-21 19:00:00,413.0,187.308,55.677,67.845,310.830
8516,2023-12-21 20:00:00,220.0,187.308,55.677,67.845,310.830
8517,2023-12-21 21:00:00,152.0,187.308,55.677,67.845,310.830
8518,2023-12-21 22:00:00,135.0,187.308,55.677,67.845,310.830
8519,2023-12-21 23:00:00,121.0,187.308,55.677,67.845,310.830
8520,2023-12-22 00:00:00,120.0,187.308,55.677,67.845,310.830
8521,2023-12-22 01:00:00,119.0,187.308,55.677,67.845,310.830
8522,2023-12-22 02:00:00,117.0,187.308,55.677,67.845,310.830
8523,2023-12-22 03:00:00,119.0,187.308,55.677,67.845,310.830
8524,2023-12-22 04:00:00,119.0,187.308,55.677,67.845,310.830
8525,2023-12-22 05:00:00,127.0,187.308,55.677,67.845,310.830
8526,2023-12-22 06:00:00,224.0,187.308,55.677,67.845,310.830
8527,2023-12-22 07:00:00,316.0,187.308,55.677,67.845,310.830
8528,2023-12-22 08:00:00,447.0,187.308,55.677,67.845,310.830
8529,2023-12-22 08:00:00,447.0,187.308,55.677,67.845,310.830
8530,2023-12-22 10:00:00,434.0,147.868,51.138,61.387,260.393
8531,2023-12-22 11:00:00,417.0,148.222,50.739,61.434,260.395
8532,2023-12-22 12:00:00,393.0,134.898,53.518,57.043,245.459

In [142]:
totalA = dades_ffill['CS A elec [kWh] [ETSAB]'].sum()
totalB = dades_ffill['CS B elec [kWh] [ETSAB]'].sum()
totalC = dades_ffill['CS C elec [kWh] [ETSAB]'].sum()
total = dades_ffill['Electricitat Total [kWh] [ETSAB]'].sum()
print(totalA, totalB, totalC, total)

486078.50800000003 143444.782 225037.84600000002 854543.4129999998

In [123]:
#AFEGIM BOOLE√Ä Q INDIQUI CAPS DE SETMANA A LES DADES
dades_ffill['day_of_week'] = dades_ffill['Date'].dt.weekday
# Create a new column to indicate if the date falls on a weekend (Saturday or Sunday)
dades_ffill['is_weekend'] = dades_ffill['day_of_week'].isin([5, 6])

In [124]:
# PODEM AFEGIR TMB LES ESTACIONS DE L'ANY
dades_ffill

,Date,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB],day_of_week,is_weekend
0,2023-01-01 00:00:00,81.0,20.113,0.0,3.323,23.436,6,True
1,2023-01-01 01:00:00,82.0,20.468,0.0,3.321,23.789,6,True
2,2023-01-01 02:00:00,82.0,19.974,0.0,3.327,23.301,6,True
3,2023-01-01 03:00:00,82.0,19.864,0.0,3.322,23.186,6,True
4,2023-01-01 04:00:00,82.0,20.094,0.0,3.327,23.421,6,True
...,...,...,...,...,...,...,...,...
8755,2023-12-31 19:00:00,86.0,19.539,0.0,3.750,23.289,6,True
8756,2023-12-31 20:00:00,86.0,19.583,0.0,3.505,23.088,6,True
8757,2023-12-31 21:00:00,86.0,19.857,0.0,3.614,23.471,6,True
8758,2023-12-31 22:00:00,85.0,19.460,0.0,3.560,23.020,6,True
8759,2023-12-31 23:00:00,84.0,19.495,0.0,3.554,23.049,6,True

In [125]:
seasons_mapping = {
    1: 'Winter',
    2: 'Winter',
    3: 'Spring',
    4: 'Spring',
    5: 'Spring',
    6: 'Summer',
    7: 'Summer',
    8: 'Summer',
    9: 'Autumn',
    10: 'Autumn',
    11: 'Autumn',
    12: 'Winter'
}
dades_ffill['season'] = dades_ffill['Date'].dt.month.map(seasons_mapping)

In [126]:
dades_ffill.head()

,Date,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB],day_of_week,is_weekend,season
0,2023-01-01 00:00:00,81.0,20.113,0.0,3.323,23.436,6,True,Winter
1,2023-01-01 01:00:00,82.0,20.468,0.0,3.321,23.789,6,True,Winter
2,2023-01-01 02:00:00,82.0,19.974,0.0,3.327,23.301,6,True,Winter
3,2023-01-01 03:00:00,82.0,19.864,0.0,3.322,23.186,6,True,Winter
4,2023-01-01 04:00:00,82.0,20.094,0.0,3.327,23.421,6,True,Winter

In [127]:
dades_ffill2 = dades_ffill.groupby(['day_of_week', 'season'], as_index = False).mean()
dades_ffill2 = dades_ffill2.drop(columns = ['is_weekend'])
dades_ffill2 = dades_ffill2[~dades_ffill2['day_of_week'].isin([5, 6])]

dades_ffill2.head()

,day_of_week,season,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB]
0,0,Autumn,264.708333,65.972205,28.062487,35.585901,129.620593
1,0,Spring,199.233974,66.350010,18.317808,27.018292,111.686109
2,0,Summer,180.849359,38.444221,17.374163,20.214628,76.033013
3,0,Winter,274.618590,88.646772,19.933147,35.719673,144.299593
4,1,Autumn,298.314103,73.269337,33.606208,39.536622,146.412167

In [134]:
# DIES FESTIUS:
dies_festius = ['2023-09-25', '2023-10-12', '2023-11-01', '2023-12-06', '2023-12-07', '2023-12-08',
              '2023-12-23','2023-12-24','2023-12-25','2023-12-26','2023-12-27','2023-12-28','2023-12-29',
              '2023-12-30', '2023-12-31','2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05',
              '2023-01-06','2023-01-07','2023-01-08','2023-01-09','2023-01-10','2023-04-01','2023-04-02',
              '2023-04-03','2023-04-04','2023-04-05','2023-04-06','2023-04-07','2023-04-08','2023-04-09',
              '2023-04-10','2023-05-01', '2023-09-11']
# I M√âS D'AGOST
def marcar_festius(date):
    return (str(date).split(' ')[0] in dies_festius) or (str(date).split('-')[1] == '08')

def marcar_festius_seasonalplot(date):
    return (str(date).split(' ')[0] in dies_festius) or (str(date).split('-')[1] == '08')
#or (str(date).split('-')[1] == '07')

In [135]:
dades_ffill['Date'] = pd.to_datetime(dades_ffill['Date'], format='%Y-%m-%d %H:%M:%S')
dades_ffill['festiu'] = dades_ffill['Date'].map(marcar_festius)
dia1 = dades_ffill[dades_ffill['Date']=='2023-01-01 00:00:00']
dia31 = dades_ffill[dades_ffill['Date']=='2023-12-31 23:00:00']
dades_ffill['festiu'] = (dades_ffill['festiu'] | dades_ffill['is_weekend'])
df_seasonal = dades_ffill.copy()
df_seasonal['festiu'] = df_seasonal['Date'].map(marcar_festius_seasonalplot)
df_seasonal['festiu'] = (df_seasonal['festiu'] | df_seasonal['is_weekend'])
df_seasonal = df_seasonal._append(dia1, ignore_index = True)
df_seasonal = df_seasonal._append(dia31, ignore_index = True)

In [136]:
dades_ffill.head()

,Date,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB],day_of_week,is_weekend,season,festiu
0,2023-01-01 00:00:00,81.0,20.113,0.0,3.323,23.436,6,True,Winter,True
1,2023-01-01 01:00:00,82.0,20.468,0.0,3.321,23.789,6,True,Winter,True
2,2023-01-01 02:00:00,82.0,19.974,0.0,3.327,23.301,6,True,Winter,True
3,2023-01-01 03:00:00,82.0,19.864,0.0,3.322,23.186,6,True,Winter,True
4,2023-01-01 04:00:00,82.0,20.094,0.0,3.327,23.421,6,True,Winter,True

In [137]:
dades_ffill.to_csv('energia_activaETSAB2023_clean.csv', index = False)

In [138]:
# prepare data for the seasonal plot
energia = df_seasonal
energia['CS B elec [kWh] [ETSAB]'] = pd.to_numeric(energia['CS B elec [kWh] [ETSAB]'], errors='coerce')
energia = energia.rename(columns = {'CS B elec [kWh] [ETSAB]': 'CS B', 'CS A elec [kWh] [ETSAB]': 'CS A', 'CS C elec [kWh] [ETSAB]': 'CS C', 'Electricitat Total [kWh] [ETSAB]': 'Electricitat Total'})
energia['Date'] = pd.to_datetime(energia['Date'], format='%Y-%m-%d %H:%M:%S')
# vacation separately
energia['hour_of_day'] = energia['Date'].dt.hour
energia = energia[~energia['day_of_week'].isin([5, 6])]
energia = energia[energia['hour_of_day'].isin([i for i in range(5,23)])]
energia['season'][energia.festiu==True] = 'Vacation'
energia = energia.groupby(['hour_of_day', 'season', 'day_of_week'], as_index = False).mean()
energia = energia.drop(columns = ['is_weekend'])
dayweek_mapping = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday'}
energia['day_of_week'] = energia['day_of_week'].map(dayweek_mapping)

In [139]:
energia.to_csv('energia_seasonalETSAB2023_clean.csv', index = False)

In [140]:
energia.head()

,hour_of_day,season,day_of_week,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A,CS B,CS C,Electricitat Total,festiu
0,5,Autumn,Monday,126.454545,27.462727,1.336273,9.898364,38.697364,0.0
1,5,Autumn,Tuesday,131.769231,26.909231,0.501769,10.780538,38.191538,0.0
2,5,Autumn,Wednesday,131.250000,27.261833,0.601333,9.699750,37.562917,0.0
3,5,Autumn,Thursday,132.750000,29.869583,0.299167,10.433917,40.602667,0.0
4,5,Autumn,Friday,129.923077,28.586923,1.262692,9.934846,39.784462,0.0