In [42]:
import pandas as pd
import numpy as np

In [43]:
dades = pd.read_excel("HUMIDITY_01-01-2023_31-12-2023.xls",skiprows=[0,1,2,3,4,5,6,7,8,9,10,11])

In [44]:
dades.columns

Index(['Date', 'Time', 'Qaire DSA A-11[DS A]-Humitat[%]',
       'Qaire DSA A-12[DS A]-Humitat[%]', 'Qaire DSA A-13[DS A]-Humitat[%]',
       'Qaire DSA A-14[DS A]-Humitat[%]', 'Qaire DSA A-21[DS A]-Humitat[%]',
       'Qaire DSA A-22[DS A]-Humitat[%]', 'Qaire DSA A-23[DS A]-Humitat[%]',
       'Qaire DSA A-24[DS A]-Humitat[%]', 'Qaire DSA A-31[DS A]-Humitat[%]',
       'Qaire DSA A-32[DS A]-Humitat[%]', 'Qaire DSA A-33[DS A]-Humitat[%]',
       'Qaire DSA A-33 (antic)[DS A]-Humitat[%]',
       'Qaire DSA A-34[DS A]-Humitat[%]', 'Qaire DSA A-35[DS A]-Humitat[%]',
       'Qaire DSA A-36[DS A]-Humitat[%]', 'Qaire DSA A-41[DS A]-Humitat[%]',
       'Qaire DSA A-42[DS A]-Humitat[%]', 'Qaire DSA A-43[DS A]-Humitat[%]',
       'Qaire DSA A-44[DS A]-Humitat[%]', 'Qaire DSA A-51[DS A]-Humitat[%]',
       'Qaire DSA A-52[DS A]-Humitat[%]', 'Qaire DSA A-53[DS A]-Humitat[%]',
       'Qaire DSA A-54[DS A]-Humitat[%]', 'Qaire DSA A-55[DS A]-Humitat[%]',
       'Qaire DSA A-56[DS A]-Humitat[%]', 'Qaire DSA A-61[DS A]-Humitat[%]',
       'Qaire DSA A-62[DS A]-Humitat[%]',
       'Qaire DSA A-BGraus[DS A]-Humitat[%]',
       'Qaire DSA A-BPFC1[DS A]-Humitat[%]',
       'Qaire DSA A-BPFC2[DS A]-Humitat[%]', 'Qaire DSA A-CI[DS A]-Humitat[%]',
       'Qaire DSA A-S.1[DS A]-Humitat[%]', 'Qaire DSA A-S.2[DS A]-Humitat[%]',
       'Qaire DSA A-S.3[DS A]-Humitat[%]', 'Qaire DSA DA-230[DS A]-Humitat[%]',
       'Qaire DSA DA-233[DS A]-Humitat[%]',
       'Qaire DSA DA-321[DS A]-Humitat[%]',
       'Qaire DSA DA-420[DS A]-Humitat[%]',
       'Qaire DSA DA-521[DS A]-Humitat[%]',
       'Qaire DSA DA-614[DS A]-Humitat[%]',
       'Qaire DSA DA-754[DS A]-Humitat[%]',
       'Qaire DSA DA-761[DS A]-Humitat[%]',
       'Qaire DSA DA-770[DS A]-Humitat[%]',
       'Qaire DSA DA-770 (antic)[DS A]-Humitat[%]',
       'Qaire DSA Espai Beta[DS A]-Humitat[%]',
       'Qaire DSA GA-104[DS A]-Humitat[%]',
       'Qaire DSA GA-117[DS A]-Humitat[%]',
       'Qaire DSA GA-BCsg[DS A]-Humitat[%]',
       'Qaire DSA Lab. Impressió[DS A]-Humitat[%]',
       'Qaire DSA LA-SMOD[DS A]-Humitat[%]',
       'Qaire DSA Manteniment 01[DS A]-Humitat[%]',
       'Qaire DSA Sala d'estudi[DS A]-Humitat[%]',
       'Qaire DSB Bib. P00[DS B]-Humitat[%]',
       'Qaire DSB Bib. PS1[DS B]-Humitat[%]',
       'Qaire DSC EC-MAQ[DS C]-Humitat[%]',
       'Qaire DSC EC-SZ[DS C]-Humitat[%]'],
      dtype='object')

In [45]:
dades.shape

(8760, 58)

In [46]:
dades = dades.drop(['Time'], axis = 1)

In [47]:
dades.isnull().sum(0)
# Alarming nans: col A-33(antic)!,
#col A-S.1[DS A], col LA-SMOD, col bib.PS1!, 
#col DSC EC-MAQ, col DSC EC-SZ

Date                                            0
Qaire DSA A-11[DS A]-Humitat[%]                 0
Qaire DSA A-12[DS A]-Humitat[%]                 1
Qaire DSA A-13[DS A]-Humitat[%]                 0
Qaire DSA A-14[DS A]-Humitat[%]                 0
Qaire DSA A-21[DS A]-Humitat[%]                 0
Qaire DSA A-22[DS A]-Humitat[%]                 1
Qaire DSA A-23[DS A]-Humitat[%]                 1
Qaire DSA A-24[DS A]-Humitat[%]                 0
Qaire DSA A-31[DS A]-Humitat[%]                 1
Qaire DSA A-32[DS A]-Humitat[%]                 6
Qaire DSA A-33[DS A]-Humitat[%]                 9
Qaire DSA A-33 (antic)[DS A]-Humitat[%]      8760
Qaire DSA A-34[DS A]-Humitat[%]                 1
Qaire DSA A-35[DS A]-Humitat[%]                 1
Qaire DSA A-36[DS A]-Humitat[%]                 1
Qaire DSA A-41[DS A]-Humitat[%]                 0
Qaire DSA A-42[DS A]-Humitat[%]                 1
Qaire DSA A-43[DS A]-Humitat[%]                 2
Qaire DSA A-44[DS A]-Humitat[%]                 1
Qaire DSA A-51[DS A]-Humitat[%]                 1
Qaire DSA A-52[DS A]-Humitat[%]                 1
Qaire DSA A-53[DS A]-Humitat[%]                 3
Qaire DSA A-54[DS A]-Humitat[%]                 2
Qaire DSA A-55[DS A]-Humitat[%]                 3
Qaire DSA A-56[DS A]-Humitat[%]                 1
Qaire DSA A-61[DS A]-Humitat[%]                 2
Qaire DSA A-62[DS A]-Humitat[%]                 0
Qaire DSA A-BGraus[DS A]-Humitat[%]             1
Qaire DSA A-BPFC1[DS A]-Humitat[%]              1
Qaire DSA A-BPFC2[DS A]-Humitat[%]              1
Qaire DSA A-CI[DS A]-Humitat[%]                 1
Qaire DSA A-S.1[DS A]-Humitat[%]              474
Qaire DSA A-S.2[DS A]-Humitat[%]                0
Qaire DSA A-S.3[DS A]-Humitat[%]                1
Qaire DSA DA-230[DS A]-Humitat[%]               2
Qaire DSA DA-233[DS A]-Humitat[%]               2
Qaire DSA DA-321[DS A]-Humitat[%]              21
Qaire DSA DA-420[DS A]-Humitat[%]               0
Qaire DSA DA-521[DS A]-Humitat[%]               1
Qaire DSA DA-614[DS A]-Humitat[%]               1
Qaire DSA DA-754[DS A]-Humitat[%]               1
Qaire DSA DA-761[DS A]-Humitat[%]               0
Qaire DSA DA-770[DS A]-Humitat[%]               3
Qaire DSA DA-770 (antic)[DS A]-Humitat[%]       1
Qaire DSA Espai Beta[DS A]-Humitat[%]           2
Qaire DSA GA-104[DS A]-Humitat[%]               1
Qaire DSA GA-117[DS A]-Humitat[%]               2
Qaire DSA GA-BCsg[DS A]-Humitat[%]              1
Qaire DSA Lab. Impressió[DS A]-Humitat[%]      40
Qaire DSA LA-SMOD[DS A]-Humitat[%]            330
Qaire DSA Manteniment 01[DS A]-Humitat[%]     137
Qaire DSA Sala d'estudi[DS A]-Humitat[%]        5
Qaire DSB Bib. P00[DS B]-Humitat[%]             1
Qaire DSB Bib. PS1[DS B]-Humitat[%]          7177
Qaire DSC EC-MAQ[DS C]-Humitat[%]            2849
Qaire DSC EC-SZ[DS C]-Humitat[%]             2803
dtype: int64

In [48]:
#dadesco2 = dadesco2.fillna('-')
#dadesco2.head()

In [49]:
dades = dades.drop(columns = ['Qaire DSA A-33 (antic)[DS A]-Humitat[%]','Qaire DSB Bib. PS1[DS B]-Humitat[%]'])

In [50]:
dades_ffill = dades.fillna(method = 'ffill')

In [51]:
dades_ffill.isnull().values.any()

False

In [52]:
def new_col_names(names):
    new_names = {'Date':'Date'}
    names = names[1:]
    for name in names:
        new_names[name] = name[10:len(name)-17]
    return new_names

In [53]:
new_names = new_col_names(dades_ffill.columns.array)
new_names

{'Date': 'Date',
 'Qaire DSA A-11[DS A]-Humitat[%]': 'A-11',
 'Qaire DSA A-12[DS A]-Humitat[%]': 'A-12',
 'Qaire DSA A-13[DS A]-Humitat[%]': 'A-13',
 'Qaire DSA A-14[DS A]-Humitat[%]': 'A-14',
 'Qaire DSA A-21[DS A]-Humitat[%]': 'A-21',
 'Qaire DSA A-22[DS A]-Humitat[%]': 'A-22',
 'Qaire DSA A-23[DS A]-Humitat[%]': 'A-23',
 'Qaire DSA A-24[DS A]-Humitat[%]': 'A-24',
 'Qaire DSA A-31[DS A]-Humitat[%]': 'A-31',
 'Qaire DSA A-32[DS A]-Humitat[%]': 'A-32',
 'Qaire DSA A-33[DS A]-Humitat[%]': 'A-33',
 'Qaire DSA A-34[DS A]-Humitat[%]': 'A-34',
 'Qaire DSA A-35[DS A]-Humitat[%]': 'A-35',
 'Qaire DSA A-36[DS A]-Humitat[%]': 'A-36',
 'Qaire DSA A-41[DS A]-Humitat[%]': 'A-41',
 'Qaire DSA A-42[DS A]-Humitat[%]': 'A-42',
 'Qaire DSA A-43[DS A]-Humitat[%]': 'A-43',
 'Qaire DSA A-44[DS A]-Humitat[%]': 'A-44',
 'Qaire DSA A-51[DS A]-Humitat[%]': 'A-51',
 'Qaire DSA A-52[DS A]-Humitat[%]': 'A-52',
 'Qaire DSA A-53[DS A]-Humitat[%]': 'A-53',
 'Qaire DSA A-54[DS A]-Humitat[%]': 'A-54',
 'Qaire DSA A-55[DS A]-Humitat[%]': 'A-55',
 'Qaire DSA A-56[DS A]-Humitat[%]': 'A-56',
 'Qaire DSA A-61[DS A]-Humitat[%]': 'A-61',
 'Qaire DSA A-62[DS A]-Humitat[%]': 'A-62',
 'Qaire DSA A-BGraus[DS A]-Humitat[%]': 'A-BGraus',
 'Qaire DSA A-BPFC1[DS A]-Humitat[%]': 'A-BPFC1',
 'Qaire DSA A-BPFC2[DS A]-Humitat[%]': 'A-BPFC2',
 'Qaire DSA A-CI[DS A]-Humitat[%]': 'A-CI',
 'Qaire DSA A-S.1[DS A]-Humitat[%]': 'A-S.1',
 'Qaire DSA A-S.2[DS A]-Humitat[%]': 'A-S.2',
 'Qaire DSA A-S.3[DS A]-Humitat[%]': 'A-S.3',
 'Qaire DSA DA-230[DS A]-Humitat[%]': 'DA-230',
 'Qaire DSA DA-233[DS A]-Humitat[%]': 'DA-233',
 'Qaire DSA DA-321[DS A]-Humitat[%]': 'DA-321',
 'Qaire DSA DA-420[DS A]-Humitat[%]': 'DA-420',
 'Qaire DSA DA-521[DS A]-Humitat[%]': 'DA-521',
 'Qaire DSA DA-614[DS A]-Humitat[%]': 'DA-614',
 'Qaire DSA DA-754[DS A]-Humitat[%]': 'DA-754',
 'Qaire DSA DA-761[DS A]-Humitat[%]': 'DA-761',
 'Qaire DSA DA-770[DS A]-Humitat[%]': 'DA-770',
 'Qaire DSA DA-770 (antic)[DS A]-Humitat[%]': 'DA-770 (antic)',
 'Qaire DSA Espai Beta[DS A]-Humitat[%]': 'Espai Beta',
 'Qaire DSA GA-104[DS A]-Humitat[%]': 'GA-104',
 'Qaire DSA GA-117[DS A]-Humitat[%]': 'GA-117',
 'Qaire DSA GA-BCsg[DS A]-Humitat[%]': 'GA-BCsg',
 'Qaire DSA Lab. Impressió[DS A]-Humitat[%]': 'Lab. Impressió',
 'Qaire DSA LA-SMOD[DS A]-Humitat[%]': 'LA-SMOD',
 'Qaire DSA Manteniment 01[DS A]-Humitat[%]': 'Manteniment 01',
 "Qaire DSA Sala d'estudi[DS A]-Humitat[%]": "Sala d'estudi",
 'Qaire DSB Bib. P00[DS B]-Humitat[%]': 'Bib. P00',
 'Qaire DSC EC-MAQ[DS C]-Humitat[%]': 'EC-MAQ',
 'Qaire DSC EC-SZ[DS C]-Humitat[%]': 'EC-SZ'}

In [54]:
dades_ffill = dades_ffill.rename(columns = new_names)

In [55]:
#dades_ffill.to_csv('humidityETSAB2023_clean.csv', index = False)

In [56]:
#ens quedem amb aules edifici A per fer scatterplot zona comfort

In [57]:
aulesA = dades_ffill.iloc[:,:27]
aulesA.head()

,Date,A-11,A-12,A-13,A-14,A-21,A-22,A-23,A-24,A-31,...,A-43,A-44,A-51,A-52,A-53,A-54,A-55,A-56,A-61,A-62
0,2023-01-01 00:00:00,55.0,55.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0,...,54.0,52.0,54.0,53.5,53.0,53.0,54.0,55.0,54.5,53.0
1,2023-01-01 01:00:00,55.0,55.0,53.5,53.0,53.0,54.0,53.0,53.0,53.0,...,54.0,52.0,53.0,53.0,53.0,53.0,53.5,55.0,54.0,53.0
2,2023-01-01 02:00:00,55.0,55.0,53.5,53.0,53.0,54.0,53.0,53.0,53.0,...,54.0,52.0,53.0,53.0,53.0,53.0,53.0,54.0,54.0,53.0
3,2023-01-01 03:00:00,54.5,54.0,53.0,53.0,53.0,54.0,53.0,53.0,53.0,...,54.0,52.0,53.0,53.0,53.0,52.5,53.0,54.0,53.5,52.5
4,2023-01-01 04:00:00,54.0,54.0,53.0,53.0,53.0,53.5,53.0,53.0,52.5,...,53.0,51.5,52.5,52.5,52.0,52.0,53.0,54.0,53.0,52.0

In [58]:
aulesA2 = pd.melt(aulesA, id_vars=['Date'], value_vars=['A-11','A-12','A-13','A-14','A-21','A-22','A-23','A-24','A-31','A-32','A-33','A-34','A-35','A-36','A-41','A-42','A-43','A-44','A-51','A-52','A-53','A-54','A-55','A-56','A-61','A-62'])
aulesA2 = aulesA2.rename(columns = {'variable':'Aula', 'value':'Humidity'}) # unitats co2: ppm
aulesA2.head()

                 Date  Aula  Humidity
0 2023-01-01 00:00:00  A-11      55.0
1 2023-01-01 01:00:00  A-11      55.0
2 2023-01-01 02:00:00  A-11      55.0
3 2023-01-01 03:00:00  A-11      54.5
4 2023-01-01 04:00:00  A-11      54.0

In [59]:
df = aulesA2.copy()

# Calculate the mean temperature at each time instant
mean_temperatures = df.groupby('Date')['Humidity'].transform('mean')

# Calculate the distance of each class from the mean temperature
df['Distance'] = abs(df['Humidity'] - mean_temperatures)

# Define a function to subsample each group
def subsample_group(group):
    # Sort the group by distance from mean temperature
    sorted_group = group.sort_values(by='Distance')
    
    # Keep 2 points closest to the mean temperature
    closest_points = sorted_group.iloc[:2]
    
    # Keep distant points
    distant_points = sorted_group.iloc[-int(len(group) * 0.2):]  # Adjust the fraction as needed
    
    # Combine closest and distant points
    subsampled_group = pd.concat([closest_points, distant_points])
    
    return subsampled_group

# Apply the subsampling function to each group
subsampled_df = df.groupby('Date', group_keys=False).apply(subsample_group)
subsampled_df['min_humidity'] = 30
subsampled_df['max_humidity'] = 60
subsampled_df['Color'] = 'Comfort'
subsampled_df.loc[subsampled_df['Humidity']>60, 'Color'] = 'Too humid'
subsampled_df.loc[subsampled_df['Humidity']<30, 'Color'] = 'Too dry'
subsampled_df.to_csv('humiditysubsampledETSAB2023_clean.csv', index = False)

In [60]:
aulesA2['min_humidity'] = 30
aulesA2['max_humidity'] = 60
aulesA2.head()

                 Date  Aula  Humidity  min_humidity  max_humidity
0 2023-01-01 00:00:00  A-11      55.0            30            60
1 2023-01-01 01:00:00  A-11      55.0            30            60
2 2023-01-01 02:00:00  A-11      55.0            30            60
3 2023-01-01 03:00:00  A-11      54.5            30            60
4 2023-01-01 04:00:00  A-11      54.0            30            60

In [61]:
aules = pd.DataFrame(data={'Aula': ['A-11','A-12','A-13','A-14','A-21','A-22','A-23','A-24','A-31','A-32',
'A-33','A-34','A-35','A-36','A-41','A-42','A-43','A-44','A-51','A-52','A-53','A-54','A-55','A-56','A-61','A-62'],
                               'planta': [1,1,1,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,5,5,5,5,5,5,6,6],
})
source = pd.merge(aulesA2, aules, on=['Aula'])

In [62]:
aulesA2.to_csv('humidityaulesETSAB2023_clean.csv', index = False)

In [65]:
dfnovac = source.copy()
dies_festius = ['2023-09-25', '2023-10-12', '2023-11-01', '2023-12-06', '2023-12-07', '2023-12-08',
              '2023-12-23','2023-12-24','2023-12-25','2023-12-26','2023-12-27','2023-12-28','2023-12-29',
              '2023-12-30', '2023-12-31','2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05',
              '2023-01-06','2023-01-07','2023-01-08','2023-01-09','2023-01-10','2023-04-01','2023-04-02',
              '2023-04-03','2023-04-04','2023-04-05','2023-04-06','2023-04-07','2023-04-08','2023-04-09',
              '2023-04-10','2023-05-01', '2023-09-11']
def marcar_festius(date):
    return (str(date).split(' ')[0] in dies_festius) or (str(date).split('-')[1] == '08') or (str(date).split('-')[1] == '07')

dfnovac['Date'] = pd.to_datetime(dfnovac['Date'], format='%Y-%m-%d %H:%M:%S')
dfnovac['festiu'] = dfnovac['Date'].map(marcar_festius)
dfnovac['day_of_week'] = dfnovac['Date'].dt.weekday
dfnovac['is_weekend'] = dfnovac['day_of_week'].isin([5, 6])
dfnovac['hour_of_day'] = dfnovac['Date'].dt.hour
dfnovac = dfnovac[dfnovac['hour_of_day'].isin([i for i in range(8,21)])]
dfnovac['festiu'] = (dfnovac['festiu'] | dfnovac['is_weekend'])
dfnovac = dfnovac[dfnovac['festiu']==False]
dfnovac.to_csv('humiditynovacation.csv')

In [63]:
source.to_csv('humidityETSAB2023_clean.csv', index = False)