In [81]:
import pandas as pd

In [82]:
dades = pd.read_excel('Energ√≠a activa - horario_01-01-2023_31-12-2023.xls',skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12,13])

In [83]:
dades.head()

,Date,Hour,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB]
0,2023-01-01 00:00:00,2023-01-01 00:00:00,81,20.113,0.0,3.323,23.436
1,2023-01-01 01:00:00,2023-01-01 01:00:00,82,20.468,0.0,3.321,23.789
2,2023-01-01 02:00:00,2023-01-01 02:00:00,82,19.974,0.0,3.327,23.301
3,2023-01-01 03:00:00,2023-01-01 03:00:00,82,19.864,0.0,3.322,23.186
4,2023-01-01 04:00:00,2023-01-01 04:00:00,82,20.094,0.0,3.327,23.421

In [84]:
date_col = dades['Date']
time_col = dades['Hour']
dades = dades.drop(columns=['Hour'])

In [85]:
def get_date(x):
    x = str(x)
    return x.split(' ')[0]

def get_time(x):
    x = str(x)
    return x.split(' ')[1]

In [86]:
dades['Date'] = date_col.apply(get_date)
dades['Time'] = time_col.apply(get_time)

In [87]:
dades.head()

,Date,"Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]",CS A elec [kWh] [ETSAB],CS B elec [kWh] [ETSAB],CS C elec [kWh] [ETSAB],Electricitat Total [kWh] [ETSAB],Time
0,2023-01-01,81,20.113,0.0,3.323,23.436,00:00:00
1,2023-01-01,82,20.468,0.0,3.321,23.789,01:00:00
2,2023-01-01,82,19.974,0.0,3.327,23.301,02:00:00
3,2023-01-01,82,19.864,0.0,3.322,23.186,03:00:00
4,2023-01-01,82,20.094,0.0,3.327,23.421,04:00:00

In [88]:
dades.isnull().sum(0)

Date                                                                   0
Comptador Campus Diagonal Sud 1 [kWh] [Sud 1 (ETSAB, EPSEB i FME)]     0
CS A elec [kWh] [ETSAB]                                               53
CS B elec [kWh] [ETSAB]                                               53
CS C elec [kWh] [ETSAB]                                               54
Electricitat Total [kWh] [ETSAB]                                      53
Time                                                                   0
dtype: int64

In [89]:
dades.shape

(8760, 7)

Veiem que la proporci√≥ de NAs en comparaci√≥ amb el nombre de samples √©s molt petita, per tant podem aplicar fillna sense rebaixar massa la qualitat de les dades.

In [90]:
dades_ffill = dades.fillna(method = 'ffill')

In [92]:
dades_ffill.to_csv('energia_activaETSAB2023_clean.csv', index = False)