In [44]:
import pandas as pd

In [45]:
dades = pd.read_excel('Energ√≠a activa exportada - horario_01-01-2023_31-12-2023.xls',skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12,13])
dades = dades.drop(columns=['Unnamed: 3'])

In [46]:
dades.head()

,Date,Hour,Comptador Campus Diagonal Sud 1 [kWh]
0,2023-01-01 00:00:00,2023-01-01 00:00:00,0
1,2023-01-01 01:00:00,2023-01-01 01:00:00,0
2,2023-01-01 02:00:00,2023-01-01 02:00:00,0
3,2023-01-01 03:00:00,2023-01-01 03:00:00,0
4,2023-01-01 04:00:00,2023-01-01 04:00:00,0

In [47]:
date_col = dades['Date']
time_col = dades['Hour']
dades = dades.drop(columns=['Hour'])
dades = dades.rename(columns={'Comptador Campus Diagonal Sud 1 [kWh]': 'Energia Exportada'})

In [48]:
dades.to_csv('energia_activa_exportadaETSAB2023_clean.csv', index = False)

In [49]:
dades.head()

                 Date  Energia Exportada
0 2023-01-01 00:00:00                  0
1 2023-01-01 01:00:00                  0
2 2023-01-01 02:00:00                  0
3 2023-01-01 03:00:00                  0
4 2023-01-01 04:00:00                  0

In [50]:
dades.isnull().sum(0)

Date                 0
Energia Exportada    0
dtype: int64

Veiem que no hi ha missing values.

In [51]:
print(dades['Energia Exportada'].mean())
print(dades['Energia Exportada'].min())
print(dades['Energia Exportada'].max())

2.328082191780822
0
107

In [52]:
dades = dades[dades['Energia Exportada']>0]

In [53]:
dades.head()

                   Date  Energia Exportada
11  2023-01-01 11:00:00                  1
12  2023-01-01 12:00:00                  2
131 2023-01-06 11:00:00                  3
132 2023-01-06 12:00:00                  8
133 2023-01-06 13:00:00                  7

In [54]:
dades_dia= dades.groupby(dades['Date'].dt.to_period('d')).mean().reset_index()

In [56]:
dades_dia['day_of_week'] = dades_dia['Date'].dt.weekday
dades_dia['is_weekend'] = dades_dia['day_of_week'].isin([5, 6])

In [57]:
dades_dia.head()

         Date  Energia Exportada  day_of_week  is_weekend
0  2023-01-01               1.50            6        True
1  2023-01-06               4.75            4       False
2  2023-01-07               5.75            5        True
3  2023-01-14               1.00            5        True
4  2023-01-15               2.00            6        True

In [58]:
dades_dia.is_weekend.value_counts()

True     96
False    36
Name: is_weekend, dtype: int64

In [59]:
96+36

132

In [60]:
96*100/132

72.72727272727273

In [61]:
36*100/132

27.272727272727273

In [62]:
dades_dia_noweekend = dades_dia[dades_dia['is_weekend'] == False]

In [63]:
dades_dia_noweekend['Date']

1      2023-01-06
27     2023-04-05
28     2023-04-06
29     2023-04-07
32     2023-04-10
39     2023-05-01
50     2023-06-05
67     2023-08-02
68     2023-08-03
69     2023-08-04
72     2023-08-07
73     2023-08-08
74     2023-08-09
75     2023-08-10
76     2023-08-11
79     2023-08-14
80     2023-08-15
81     2023-08-16
82     2023-08-17
83     2023-08-18
86     2023-08-21
87     2023-08-22
88     2023-08-23
89     2023-08-24
90     2023-08-25
92     2023-08-28
93     2023-08-29
94     2023-08-30
98     2023-09-11
103    2023-09-25
108    2023-10-12
115    2023-11-01
123    2023-12-06
124    2023-12-08
128    2023-12-25
129    2023-12-26
Name: Date, dtype: period[D]