In [2]:
import pandas as pd

In [3]:
dades = pd.read_excel('Maxímetro_01-01-2023_31-12-2023.xls',skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12,13])

In [4]:
dades.head()

,Date,Hour,CS A elec [kW] [ETSAB],CS B elec [kW] [ETSAB],CS C elec [kW] [ETSAB],Electricitat Total [kW] [ETSAB]
0,2023-01-01 00:00:00,2023-01-01 00:00:00,19.996,0.0,3.336,23.332
1,2023-01-01 00:15:00,2023-01-01 00:15:00,19.448,0.0,3.308,22.756
2,2023-01-01 00:30:00,2023-01-01 00:30:00,20.772,0.0,3.320,24.092
3,2023-01-01 00:45:00,2023-01-01 00:45:00,20.236,0.0,3.328,23.564
4,2023-01-01 01:00:00,2023-01-01 01:00:00,20.948,0.0,3.316,24.264

In [5]:
date_col = dades['Date']
time_col = dades['Hour']
dades = dades.drop(columns=['Hour'])

In [6]:
def get_date(x):
    x = str(x)
    return x.split(' ')[0]

def get_time(x):
    x = str(x)
    return x.split(' ')[1]

In [7]:
dades['Date'] = date_col.apply(get_date)
dades['Time'] = time_col.apply(get_time)

In [8]:
dades.head()

,Date,CS A elec [kW] [ETSAB],CS B elec [kW] [ETSAB],CS C elec [kW] [ETSAB],Electricitat Total [kW] [ETSAB],Time
0,2023-01-01,19.996,0.0,3.336,23.332,00:00:00
1,2023-01-01,19.448,0.0,3.308,22.756,00:15:00
2,2023-01-01,20.772,0.0,3.320,24.092,00:30:00
3,2023-01-01,20.236,0.0,3.328,23.564,00:45:00
4,2023-01-01,20.948,0.0,3.316,24.264,01:00:00

In [9]:
dades.isnull().sum(0)

Date                                0
CS A elec [kW] [ETSAB]             15
CS B elec [kW] [ETSAB]             25
CS C elec [kW] [ETSAB]             19
Electricitat Total [kW] [ETSAB]     0
Time                                0
dtype: int64

In [10]:
dades.shape

(34794, 6)

Veiem que hi ha pocs missing values en comparació amb la mida del dataset.

In [11]:
dades_ffill = dades.fillna(method = 'ffill')

In [12]:
dades.to_csv('maximetreETSAB2023_clean.csv', index = False)