In [1]:
import pandas as pd

In [9]:
dades = pd.read_excel('Energ√≠a activa exportada - horario_01-01-2023_31-12-2023.xls',skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12,13])
dades = dades.drop(columns=['Unnamed: 3'])

In [10]:
dades.head()

,Date,Hour,Comptador Campus Diagonal Sud 1 [kWh]
0,2023-01-01 00:00:00,2023-01-01 00:00:00,0
1,2023-01-01 01:00:00,2023-01-01 01:00:00,0
2,2023-01-01 02:00:00,2023-01-01 02:00:00,0
3,2023-01-01 03:00:00,2023-01-01 03:00:00,0
4,2023-01-01 04:00:00,2023-01-01 04:00:00,0

In [11]:
date_col = dades['Date']
time_col = dades['Hour']
dades = dades.drop(columns=['Hour'])

In [12]:
def get_date(x):
    x = str(x)
    return x.split(' ')[0]

def get_time(x):
    x = str(x)
    return x.split(' ')[1]

In [13]:
dades['Date'] = date_col.apply(get_date)
dades['Time'] = time_col.apply(get_time)

In [14]:
dades.head()

         Date  Comptador Campus Diagonal Sud 1 [kWh]      Time
0  2023-01-01                                      0  00:00:00
1  2023-01-01                                      0  01:00:00
2  2023-01-01                                      0  02:00:00
3  2023-01-01                                      0  03:00:00
4  2023-01-01                                      0  04:00:00

In [15]:
dades.isnull().sum(0)

Date                                     0
Comptador Campus Diagonal Sud 1 [kWh]    0
Time                                     0
dtype: int64

Veiem que no hi ha missing values.

In [18]:
print(dades['Comptador Campus Diagonal Sud 1 [kWh]'].mean())
print(dades['Comptador Campus Diagonal Sud 1 [kWh]'].min())
print(dades['Comptador Campus Diagonal Sud 1 [kWh]'].max())

2.328082191780822
0
107

In [19]:
dades.to_csv('energia_activa_exportadaETSAB2023_clean.csv', index = False)